.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task {
    color: #529a0c;
}

.incomplete-task {
    color: #c30505;
}

i{
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-feild {
    margin: 0 auto;
    width: 75%;
}